{% extends 'base.html' %}

{% block head %}
<title>Task Master</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Orders History</h1>

</div>
    <table>
        <tr>
            <td>id</td>
            <td>order_id</td>
            <td>order_pickup_time</td>
            <td>order_delivery_time</td>
            <td>order_delivery_distance</td>
            <td>rider_name</td>
            <td>restaurant_id</td>
            <td>customer_id</td>
            <td>directions_to_customer</td>

        </tr>
        {% for order in history %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.order_id }}</td>
                <td>{{ order.order_pickup_time }}</td>
                <td>{{ order.order_delivery_time }}</td>
                <td>{{ order.order_delivery_distance }}</td>
                <td>{{ order.rider_name }}</td>
                <td>{{ order.restaurant_id }}</td>
                <td>{{ order.customer_id }}</td>
                <td>{{ order.directions_to_customer }}</td>

            </tr>
        {% endfor %}
    </table>

{% endblock %}